/* Bootstrap overrides */
*{
  box-shadow: none !important;
}
* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}
.navbar-inner {
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}
/* END OVERRIDES */

body{
  
}
.front-page-banner{
}
.thumb-data{
  position: absolute;
  top: 0px;
  padding-left: 5px;
}
.event-title{
  line-height: 10px;
  color: white;
  text-shadow: 1px 1px 1px #333333;
}
.event-specifics{
  color: white;
  text-shadow: 1px 1px 1px #333333;
}
.infoboxrow{
  margin-top: 10px;
}
.infobox{
  position: relative;
}
